{% if block.text|length %}
	<section class="content">
		{{ block.text }}
		{% if block.cta|length %}
			<div>
				<a href="{{ block.cta.getUrl() }}" class="button">{{ block.cta.getText() }}</a>
			</div>
		{% endif %}
	</section>
{% endif %}