{% extends '_layout' %}
{% block content %}
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<h2>Bedankt voor uw bericht.</h2>

			<p>We proberen zo snel mogelijk uw vraag te beantwoorden.</p>
			

		</div>
	</div>
</section>
{% endblock %}