{% extends "_layout" %}

{% block content %}
<div class="8u 12u(narrower)">
	<div id="content">

		<!-- Content -->

		<article>
			<header>
				<h2>Onze club</h2>
			</header>

			<span class="image featured"><img src="images/clubfoto1617.jpg" alt="" /></span>

			<p>VBT Machelen wil een kwalitatieve volleyopleiding voor iedereen aanbieden.</p>
			<p>De allerjongsten kunnen terecht in de bewegingsschool. Hier zetten zij op speelse wijze hun eerste stapjes in het volley.</p>
			<p>Na deze eerste kennismaking kunnen de meisjes en jongens trainen en in competitie spelen op het voor hun aangepaste niveau. Daarin worden zij begeleid door een team van gekwalificeerde en ervaren trainers en coaches.</p>
			<p>Bij VBT Machelen proberen we zoveel mogelijk niveau-gericht te werken. Sterke kinderen kunnen dus vroeger doorstromen, late instromers kunnen op een niveau starten dat niet bij hun leeftijd hoort.</p>
			<p>Maatwerk dus!</p>
			<p>Van alle jongeren wordt wel een minimum trainingsinzet en motivatie verwacht. Op deze website vind je het jeugdplan terug dat beschrijft hoe de jeugdopleiding op sportief vlak in elkaar zit.</p>
			<p>Voor de volwassenen heeft VBT Machelen ook een breed aanbod, van recreatief tot competitieniveau. Of je nu gewoon af en toe een balletje wil komen slaan in een recreatieploeg of je echt wil engageren voor meerdere trainingen en matchen per week: bij VBT Machelen ben je welkom.</p>

			<h3>Algemene informatie</h3>
			<table>
				<tr>
					<td>Opgericht</td>
					<td>1962</td>
				</tr>
				<tr>
					<td>Stamnummer</td>
					<td>0431</td>
				</tr>
				<tr>
					<td>Structuur</td>
					<td>VZW opgericht in 2008</td>
				</tr>
				<tr>
					<td>O.N.</td>
					<td>0882.213.218</td>
				</tr>
				<tr>
					<td>Maatschappelijke zetel</td>
					<td>Leeuwerikenlaan 18, 1830 Machelen</td>
				</tr>
				<tr>
					<td>Aantal leden</td>
					<td>280</td>
				</tr>
				<tr>
					<td>Aangesloten bij</td>
					<td>Vlaamse Liga voor Jeugd, mini- en liefhebbersvolleybal</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>www.vlmbrabant.be </td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>www.volleyvlaanderen.be </td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Sportraad van de gemeente Machelen</td>
				</tr>
				<tr>
					<td>Kwaliteitslabel</td>
					<td>Gouden club voor jeugdwerking 2019</td>
				</tr>
				<tr>
					<td>Website</td>
					<td><a target="_blank" href="http://www.vbtmachelen.be">vbtmachelen.be</a></td>
				</tr>
				<tr>
					<td>Facebook</td>
					<td><a target="_blank" href="https://www.facebook.com/VBTMachelen">@VBTMachelen</a></td>
				</tr>
				<tr>
					<td>E-mailadres</td>
					<td><a target="_blank" href="mailto:infovbtmachelen@gmail.com">infovbtmachelen@gmail.com</a></td>
				</tr>
				<tr>
					<td>R.P.R.</td>
					<td>Brussel</td>
				</tr>
			</table>

			{% if entry.contentBuilder|length %}
				{% for block in entry.contentBuilder %}
					{% include '_includes/_blocks/_' ~ block.type.handle %}
				{% endfor %}
			{% endif %}

		</article>

	</div>
</div>
<div class="4u 12u(narrower)">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<h3>Aanmelden op mijn.sportadministratie</h3>
			<a href="https://mijn.sportadministratie.be" target="_blank" class="button">mijn.sportadministratie.be</a>
		</section>

		<section>
			<span class="image featured"><img src="images/goud.png" alt="" /></span>
			<p>VBT Machelen kreeg Goud van de Vlaams-Brabantse Volleybalbond voor de goede jeugdwerking seizoen 2015-2016. Proficiat aan iedereen die zich hiervoor inzet!</p>
		</section>

		<section>
			<h3>Gedragscode</h3>
			<p>Volleybal is een teamsport. Als speler of speelster van VBT Machelen vertegenwoordig je dus niet alleen jezelf maar ook de hele club. Om een goede werking van de club te verzekeren is het noodzakelijk om een gedragscode te hebben die iedereen kent. Er wordt verwacht dat elk lid van de club een maximale inspanning levert om de code na te leven.</p>
			<footer>
				<a href="{{ craft.entries.slug('gedragscode').first().getUrl() }}" class="button">Lees meer</a>
			</footer>
		</section>

		<section>
			<h3>Lid worden?</h3>
			<p>Je kan ons best contacteren via de website of, voor de jeugdspelers, via <a href="mailto:jeugdcel_vbtm@hotmail.com">jeugdcel_vbtm@hotmail.com</a>. We laten je dan weten waar en wanneer je het best kan aansluiten voor de trainingen.</p>
			<footer>
				<a href="{{ craft.entries.section('lidWorden').first().getUrl() }}" class="button">Meer info</a>
			</footer>
		</section>

		<section>
			<h3>Jeugdtrainers gezocht</h3>
			<p>Wegens twee zeer succesvolle acties Volley@school is onze club de laatste jaren opnieuw sterk gegroeid. Om dit succes te bestendigen zijn we dringend op zoek naar volleybaltrainers voor onze jeugdploegen zowel jongens als meisjes. Wij voorzien volgend jaar 19 jeugdploegen (8 jongens – 11 meisjes) in competitie. VBT Machelen is een familieclub met een lange traditie (55 jaar) en wil jongeren klaarstomen om op verschillende niveau’s te laten doorstromen.</p>
			<footer>
				<a href="{{ craft.entries.section('contact').first().getUrl() }}" class="button">Contacteer ons</a>
			</footer>
		</section>

	</div>
</div>

{% endblock %}