{% extends '_layout' %}
{% block content %}

<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<section class="contact">
				<div class="flex">

					<div class="person">
						<h4>Voorzitter</h4>
						<p><i class="fas fa-user-circle"></i> &nbsp; Nadine Devisch</p>
						<p><i class="fas fa-at"></i> &nbsp; <a href="mailto:vbtm_nadine@telenet.be">vbtm_nadine@telenet.be</a></p>
						<p><i class="fas fa-phone"></i> &nbsp; <a href="tel:0494626333">04 94 62 63 33</a></p>
					</div>

					<div class="person">
						<h4>Jeugdcoördinator</h4>
						<p><i class="fas fa-at"></i> &nbsp; <a href="mailto:jeugdcel_vbtm@hotmail.com">jeugdcel_vbtm@hotmail.com</a></p>
					</div>

					<div class="person">
						<h4>Secretaris</h4>
						<p><i class="fas fa-user-circle"></i> &nbsp; Wendy Schellemans</p>
						<p><i class="fas fa-at"></i> &nbsp; <a href="mailto:wendyschellemans@gmail.com">wendyschellemans@gmail.com</a></p>
					</div>

					<div class="person">
						<h4>Sponsoring</h4>
						<p><i class="fas fa-user-circle"></i> &nbsp; Bjorn Van Cauwenbergh</p>
						<p><i class="fas fa-at"></i> &nbsp; <a href="mailto:bjorn.v.cauwenberg@gmail.com">bjorn.v.cauwenberg@gmail.com</a></p>
					</div>

					<div class="person">
						<h4>Pers</h4>
						<p><i class="fas fa-user-circle"></i> &nbsp; Nadine Devisch</p>
						<p><i class="fas fa-at"></i> &nbsp; <a href="mailto:vbtm_nadine@telenet.be">vbtm_nadine@telenet.be</a></p>
						<p><i class="fas fa-phone"></i> &nbsp; <a href="tel:0494626333">04 94 62 63 33</a></p>
					</div>

					<div class="person">
						<h4>Wedstrijdwijzigingen en kalender beker</h4>
						<p><i class="fas fa-at"></i> &nbsp; <a href="mailto:jeugdcel_vbtm@hotmail.com">jeugdcel_vbtm@hotmail.com</a></p>
					</div>

					<div class="person">
						<h4>Gebruik van persoonlijke gegevens</h4>
						<p><i class="fas fa-at"></i> &nbsp; <a href="mailto:vbtm.gdpr@gmail.com">vbtm.gdpr@gmail.com</a></p>
					</div>

				</div>
			</section>

			<div class="sponsors">
			<div class="flex">
			  {% if entry.contentBuilder|length %}
		        {% for block in entry.contentBuilder %}
		          {% include '_includes/_blocks/_' ~ block.type.handle %}
		        {% endfor %}
		      {% endif %}
		    </div>
		    </div>

		</div>
	</div>
</section>

{% endblock %}