{% extends "_layout" %}

{% block content %}
<div class="3u 12u(narrower)">
	<div id="sidebar2">

		<!-- Sidebar -->
		<section>
			<h3>Matchen deze week</h3>
			<ul class="links text-small">

				{% set timezone = 'UTC' %}

				{% set weekStart = now|date_modify("Monday this week")|date_modify('midnight')|date('U') %}
				{% set weekEnd = now|date_modify("Sunday")|date_modify('midnight')|date('U') %}

				{% set eventEntries = craft.entries({
					section: 'wedstrijden',
					datum: 'and, >=' ~ weekStart ~ ', <=' ~ weekEnd,
					order: 'datum, uur'
				}) %}

				{% if eventEntries|length %}

				{% for event in eventEntries.all() %}
				<li>
					<strong>{{ event.reeks }}</strong>
					<br> <i class="far fa-calendar-alt"></i> &nbsp; {{ event.datum|date('d/m/Y') }} &nbsp; <i class="far fa-clock"></i> &nbsp; {{ event.uur|date('H:i') }}
				</li>
				{% endfor %}

				{% else %}
				<p>Geen matchen gevonden.</p>
				{% endif %}
			</ul>

			<a href="{{ craft.entries.section('agenda').first().getUrl() }}" class="button">Alle matchen</a>
		</section>

	</div>
</div>

<div class="6u 12u(narrower) important(narrower)">
	<div id="content">

		<!-- Content -->

		{% if entry.contentBuilder|length %}
			{% for block in entry.contentBuilder %}
				{% include '_includes/_blocks/_' ~ block.type.handle %}
			{% endfor %}
		{% endif %}

	</div>
</div>
<div class="3u 12u(narrower)">
	<div id="sidebar1">
		<article>
			<h3>VBTM op Facebook</h3>
			<script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
			<link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
			<ul class="juicer-feed" data-feed-id="vbtmachelen" data-per="3"></ul>
		</article>
	</div>
</div>

{% endblock %}