{% extends '_layout' %}
{% block content %}
<div class="8u 12u(narrower)">
	<div id="content">

		<!-- Content -->

		<article>
			<header>
				<h2>Jeugdwerking</h2>
			</header>

			<span class="image featured"><img src="images/max_banner.jpg" alt="" /></span>

			<h3>Ploegindeling jeugd</h3>
			
			<h5>U19 MEISJES</h5>
			<p>Training op maandag van 20u tot 21u30 in Robusta.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U19 Meisjes 2e Prov B</p>

			<h5>U17 MEISJES A</h5>
			<p>Training op dinsdag van 20u tot 21u30 in Robusta en op vrijdag van 19u tot 20u30 in Robusta.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U17 Meisjes 2e Prov A</p>

			<h5>U17 MEISJES B</h5>
			<p>Training op dinsdag van 20u tot 21u30 in Robusta en op woensdag van 19u30 tot 21u in GBS Diegem.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U17 Meisjes 2e Prov B</p>

			<h5>U15 MEISJES</h5>
			<p>Training op maandag van 18u30 tot 20u in Robusta en op woensdag van 15u tot 16u30 in Robusta.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U15 Meisjes 2e Prov B</p>

			<h5>U13 MEISJES A</h5>
			<p>Training op woensdag van 18u tot 19u30 in GBS Diegem en op donderdag van 18u30 tot 20u in Bosveld.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U13 Meisjes 1e Prov B</p>

			<h5>U13 MEISJES B - U13 MEISJES C</h5>
			<p>Training op dinsdag van 18u30 tot 20u in Bosveld en op donderdag van 18u30 tot 20u in Bosveld.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U13 Meisjes 2e Prov D (ploeg B) en 2e Prov A (ploeg C)</p>

			<h5>U11 MEISJES 1E PROV</h5>
			<p>Training op maandag van 18u30 tot 20u in Bosveld en op woensdag van 16u30 tot 18u in Bosveld.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U11 Meisjes 1e Prov B</p>

			<h5>U11 MEISJES 2E PROV B - U11 MEISJES 2E PROV C</h5>
			<p>Training op maandag van 18u30 tot 20u in Robusta en op woensdag van 16u30 tot 18u in Robusta.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U11 Meisjes 2e Prov reeks B (Ploeg B) en reeks C (Ploeg C)</p>

			<h5>U11 MEISJES 3E PROV</h5>
			<p>Training op dinsdag van 18u30 tot 20u in Bosveld en op donderdag van 18u30 tot 20u in Robusta.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U17 Gemengd 3e Prov B</p>

			<h5>U17 JONGENS A</h5>
			<p>Ploegindeling ploeg A en ploeg B is niet definitief maar kan nog herbekeken worden.</p>
			<p>Training op dinsdag van 19u tot 20u30 in Bosveld en op donderdag van 19u tot 20u30 in Robusta.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U17 Jongens 1e Prov</p>

			<h5>U17 JONGENS B</h5>
			<p>Ploegindeling ploeg A en ploeg B is niet definitief maar kan nog herbekeken worden.</p>
			<p>Training op dinsdag van 19u tot 20u30 in Bosveld en op donderdag van 19u tot 20u30 in Robusta.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U17 Jongens 1e Prov</p>

			<h5>U15 JONGENS</h5>
			<p>Training op woensdag van 16u30 tot 18u in Robusta. Voor een tweede (of derde) training sluiten deze jongens aan bij de U17 of de U13. Hierover wordt individueel gecommuniceerd.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U15 Jongens 1e Prov</p>

			<h5>U13 JONGENS A - U13 JONGENS B</h5>
			<p>Training op dinsdag van 18u30 tot 20u in Robusta en op vrijdag van 18u45 tot 20u15 in Bosveld.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U13 Jongens 1e Prov (Ploeg A) en U13 Jongens 2e Prov B (Ploeg B)</p>

			<h5>U11 JONGENS 1E PROV A - U11 JONGENS 1E PROV B</h5>
			<p>Training op maandag van 18u30 tot 20u in Bosveld en op donderdag van 18u30 tot 20u in Bosveld.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U11 Jongens 1e Prov (Ploeg A) en U11 Jongens 1e Prov B (Ploeg B)</p>

			<h5>U11 JONGENS 3E PROV</h5>
			<p>Training op dinsdag van 18u30 tot 20u in Bosveld en op donderdag van 18u30 tot 20u in Robusta.</p>
			<p>Wedstrijdkalender op <a target="_blank" href="http://www.volleyscores.be">www.volleyscores.be</a> : reeks U11 Gemengd 3e Prov reeks D</p>

		</article>

	</div>
</div>
<div class="4u 12u(narrower)">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<span class="image featured"><img src="images/goud.png" alt="" /></span>
			<p>VBT Machelen kreeg Goud van de Vlaams-Brabantse Volleybalbond voor de goede jeugdwerking seizoen 2015-2016. Proficiat aan iedereen die zich hiervoor inzet!</p>
		</section>

		<section>
			<h3>Jeugdtrainers gezocht</h3>
			<p>Wegens twee zeer succesvolle acties Volley@school is onze club de laatste jaren opnieuw sterk gegroeid. Om dit succes te bestendigen zijn we dringend op zoek naar volleybaltrainers voor onze jeugdploegen zowel jongens als meisjes. Wij voorzien volgend jaar 19 jeugdploegen (8 jongens – 11 meisjes) in competitie. VBT Machelen is een familieclub met een lange traditie (55 jaar) en wil jongeren klaarstomen om op verschillende niveau’s te laten doorstromen.</p>
			<footer>
				<a href="#" class="button">Contacteer ons</a>
			</footer>
		</section>

	</div>
</div>
{% endblock %}