{% extends '_layout' %}
{% block content %}
<div class="8u 12u(narrower)">
	<div id="content">

		<!-- Content -->

		<article>
			<header>
				<h2>Jeugdwerking</h2>
			</header>

			<span class="image featured"><img src="images/max_banner.jpg" alt="" /></span>
              
              <h5>U19 Meisjes</h5>

                 <p>Training op maandag van 20u - 22u in Robusta en donderdag 19u - 20u30 Robusta. <br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U19 Meisjes 2e Prov B</p>

                  
              <h5>U17 Meisjes A</h5>
                 
                 <p>Training op maandag 20u - 21u30 in Robusta en vrijdag 19u - 20u30 in Robusta.<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U17 Meisjes 2e Prov A</p>

              
              <h5>U15 Meisjes</h5>
                 
                 <p>Training op dinsdag 18u30 - 20u in Bosveld en donderdag 18u30 - 20u in Bosveld.<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U15 Meisjes 2e Prov B</p>

              
              <h5>U13 Meisjes 1e Prov</h5>
                 
                 <p>Training op maandag 18u30 - 20u in Bosveld en woensdag 18u - 19u30 in GBS Diegem.<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U13 Meisjes 1e Prov B</p>

              
              <h5>U13 Meisjes 2e Prov A</h5>
                 
                 <p>Training op maandag 18u30 - 20u in Bosveld en woensdag 16u30 - 18u in Robusta.<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U13 Meisjes 2e Prov D</p>

              <h5>U13 Meisjes 2e Prov B</h5>
                 
                 <p>Training op dinsdag 18u30 - 20u IN Robusta en woensdag 16u30 - 18u in Robusta.<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U13 Meisjes 2e Prov A</p>
              
              <h5>U11 Meisjes 1e Prov</h5>
                 
                 <p>Training op maandag 18u30 - 20u in Bosveld en woensdag  16u - 17u30 in Bosveld (klein).<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U11 Meisjes 1e Prov B</p>

              
              <h5>U11 Meisjes 2e Prov</h5>
                 
                 <p>Training op dinsdag 18u30 - 20u in Bosveld (klein) en donderdag 18u30 - 20u in Robusta.<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U11 Meisjes 2e Prov reeks B</p>
              
              <h5>U11 Meisjes 3e Prov</h5>
                 
                 <p>Training op dinsdag 18u30 - 20u in Robusta en donderdag 18u30 - 20u in Bosveld (klein).<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U17 Gemengd 3e Prov B</p>

              
              <h5>U15 Jongens</h5>
                 
                 <p>Training op dinsdag 19u - 20u30 in Bosveld en woensdag  19u30 - 21u in GBS Diegem.<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U15 Jongens 1e Prov</p>

              
              <h5>U13 Jongens 1e Prov</h5>
                 
                 <p>Training op woensdag 17u30 - 18u in Bosveld (klein) en vrijdag 18u30 - 20u in Bosveld (klein).<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U13 Jongens 1e Prov</p>

              <h5>U13 Jongens 2e Prov</h5>
                 
                 <p>Training op woensdag 17u30 - 18u in Bosveld (klein) en vrijdag 18u30 - 20u in Bosveld (klein).<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U13 Jongens 2e Prov</p>
              
              <h5>U11 Jongens 1e Prov</h5>
                 
                 <p>Training op maandag 18u30 - 20u in Bosveld en woensdag 16u - 17u30 in Bosveld (klein).<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U11 Jongens 1e Prov</p>
                  
              <h5>U11 Jongens 2e Prov</h5>
                 
                 <p>Training op dinsdag 18u30 - 20u in Bosveld (klein) en donderdag 18u30 - 20u in Robusta.<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U11 Jongens 2e Prov</p>

              <h5>U11 Jongens 3e Prov</h5>
                 
                 <p>Training op dinsdag 18u30 - 20u in Robusta en donderdag 18u30 - 20u in Bosveld (klein).<br>
                 
                 <p>Wedstrijdkalender op <a href="http://volleyscores.be">www.volleyscores.be</a> : reeks U11 Gemengd 3e Prov reeks D</p>



              <h5>Bewegers: Duwers</h5>
                 
                 <p>Training op maandag 18u - 19u in Bosveld (klein) en zaterdag 9u30 - 10u15 in Bosveld (klein).<br>

              <h5>Bewegers: Toetsers</h5>
                 
                 <p>Training op maandag 18u - 19u in Bosveld en zaterdag 10u15 - 11u in Bosveld (klein).<br>

		</article>

	</div>
</div>
<div class="4u 12u(narrower)">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<span class="image featured"><img src="images/goud.png" alt="" /></span>
			<p>VBT Machelen kreeg Goud van de Vlaams-Brabantse Volleybalbond voor de goede jeugdwerking seizoen 2015-2016. Proficiat aan iedereen die zich hiervoor inzet!</p>
		</section>

		<section>
			<h3>Jeugdtrainers gezocht</h3>
			<p>Wegens twee zeer succesvolle acties Volley@school is onze club de laatste jaren opnieuw sterk gegroeid. Om dit succes te bestendigen zijn we dringend op zoek naar volleybaltrainers voor onze jeugdploegen zowel jongens als meisjes. Wij voorzien volgend jaar 19 jeugdploegen (8 jongens – 11 meisjes) in competitie. VBT Machelen is een familieclub met een lange traditie (55 jaar) en wil jongeren klaarstomen om op verschillende niveau’s te laten doorstromen.</p>
			<footer>
				<a href="#" class="button">Contacteer ons</a>
			</footer>
		</section>

	</div>
</div>
{% endblock %}