{% extends '_layout' %}
{% block content %}
<div class="8u 12u(narrower)">
	<div id="content">

		<!-- Content -->

		<article>
			<header>
				<h2>Jeugdwerking</h2>
			</header>

			<span class="image featured"><img src="images/max_banner.jpg" alt="" /></span>

      {% if entry.contentBuilder|length %}
        {% for block in entry.contentBuilder %}
          {% include '_includes/_blocks/_' ~ block.type.handle %}
        {% endfor %}
      {% endif %}

		</article>

	</div>
</div>
<div class="4u 12u(narrower)">
	<div id="sidebar">

		<!-- Sidebar -->

		<section>
			<span class="image featured"><img src="images/goud.png" alt="" /></span>
			<p>VBT Machelen kreeg Goud van de Vlaams-Brabantse Volleybalbond voor de goede jeugdwerking seizoen 2015-2016. Proficiat aan iedereen die zich hiervoor inzet!</p>
		</section>

		<section>
			<h3>Gedragscode</h3>
			<p>Volleybal is een teamsport. Als speler of speelster van VBT Machelen vertegenwoordig je dus niet alleen jezelf maar ook de hele club. Om een goede werking van de club te verzekeren is het noodzakelijk om een gedragscode te hebben die iedereen kent. Er wordt verwacht dat elk lid van de club een maximale inspanning levert om de code na te leven.</p>
			<footer>
				<a href="{{ craft.entries.slug('gedragscode').first().getUrl() }}" class="button">Lees meer</a>
			</footer>
		</section>

		<section>
			<h3>Jeugdtrainers gezocht</h3>
			<p>Wegens twee zeer succesvolle acties Volley@school is onze club de laatste jaren opnieuw sterk gegroeid. Om dit succes te bestendigen zijn we dringend op zoek naar volleybaltrainers voor onze jeugdploegen zowel jongens als meisjes. Wij voorzien volgend jaar 19 jeugdploegen (8 jongens – 11 meisjes) in competitie. VBT Machelen is een familieclub met een lange traditie (55 jaar) en wil jongeren klaarstomen om op verschillende niveau’s te laten doorstromen.</p>
			<footer>
				<a href="{{ craft.entries.section('contact').first().getUrl() }}" class="button">Contacteer ons</a>
			</footer>
		</section>

	</div>
</div>
{% endblock %}