<!DOCTYPE HTML>
<html>
	<head>
		<title>VBT Machelen | {{ entry.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		
		<link rel="stylesheet" href="{{ siteUrl }}assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<link rel="stylesheet" href="{{ siteUrl }}assets/css/custom.css" />
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				{% include '_includes/_nav' %}

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row 200%">
							{% block content %}{% endblock %}
						</div>
					</div>
				</section>

				{% if entry.section.handle != 'sponsorsOverview' %}	
					{% include '_includes/_sponsors' %}
				{% endif %}	

			<!-- Footer -->
				{% include '_includes/_footer' %}

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

			<!-- Add class 'list' to ul -->
			<script type="text/javascript">
				var ul = document. querySelectorAll('section.content ul');
				for (var i = ul.length - 1; i >= 0; i--) {
					ul[i].classList.add("list");
				}
			</script>

	</body>
</html>