{% extends '_layout' %}
{% block content %}

<section class="wrapper style1">
	<div class="container">
		<div id="content">
			<section class="ploegen">

				<h2>Ploegfoto's</h2>

				<div class="flex">

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/placeholder.png')"></div>
						<h3>Heren A</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/placeholder.png')"></div>
						<h3>Heren B</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/placeholder.png')"></div>
						<h3>Heren C</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/placeholder.png')"></div>
						<h3>Dames A</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/DamesB.jpg')"></div>
						<h3>Dames B</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/U19M.jpg')"></div>
						<h3>U19 meisjes</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/U17J.JPG')"></div>
						<h3>U17 jongens</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/U17M.jpg')"></div>
						<h3>U17 meisjes</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/U15J.jpg')"></div>
						<h3>U15 jongens</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/UM.jpeg')"></div>
						<h3>U15 meisjes</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/placeholder.png')"></div>
						<h3>U13 jongens</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/placeholder.png')"></div>
						<h3>U13 meisjes</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/U11J-1A.jpg')"></div>
						<h3>U11 jongens 1e prov A</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/U11J-1B.jpg')"></div>
						<h3>U11 jongens 1e prov B</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/U11M.png')"></div>
						<h3>U11 meisjes</h3>
					</div>

					<div class="ploeg">
						<div class="image" style="background-image: url('images/ploegen/U11M-3A.jpg')"></div>
						<h3>U11 meisjes 3e prov A</h3>
					</div>

				</div>

			</section>
		</div>
	</div>
</section>

{% endblock %}