{% extends '_layout' %}
{% block content %}
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<section class="sponsors">
				<h2>Sponsors</h2>
				<div class="flex">
					<div class="vertical"><a href="http://www.funerariumvanbellingen.be" target="_blank"><img src="images/sponsors/funerarium.jpg" alt="Funerarium Vanbellingen"></a></div>
					<div class="vertical"><a href="http://www.natuurbeenhouwerijgeets.be/" target="_blank"><img src="images/sponsors/beenhouwerij.jpg" alt="Beenhouwerij Geets"></a></div>
					<div class="vertical"><a href="http://www.eclipsartdesign.be/" target="_blank"><img src="images/sponsors/eclips.jpg" alt="Eclips Art Design"></a></div>
					<div class="vertical"><a href="http://www.drankenvanbever.be/" target="_blank"><img src="images/sponsors/vanbever.png" alt="Drankenhandel Vanbever"></a></div>
					<div class="vertical"><a href="http://www.mercure.com/nl/belgium/index.shtml" target="_blank"><img src="images/sponsors/mercure.png" alt="Mercure Hotel"></a></div>
					<div class="vertical"><a href="http://www.machelen.be/nl/content/390/sporthal-bosveld.html" target="_blank"><img src="images/sponsors/bosveld.jpeg" alt="Sporthal Bosveld"></a></div>
					<div class="vertical"><a href="http://www.thetravelcompany.be/" target="_blank"><img src="images/sponsors/travel.jpg" alt="Travel Company"></a></div>
					<div class="vertical"><a href="http://www.kantoorrombouts.be/" target="_blank"><img src="images/sponsors/rombouts.png" alt="Kantoor Rombouts"></a></div>
					<div class="vertical"><a href="http://www.zakencentrumvilvoorde.be/" target="_blank"><img src="images/sponsors/zakencentrum.jpg" alt="Zakencentrum Vilvoorde"></a></div>
					<div class="vertical"><a href="http://www.newwindows.be/" target="_blank"><img src="images/sponsors/newwindows.jpg" alt="New Windows"></a></div>

				</ul>
				<br class="clearfix">
			</section>

		</div>
	</div>
</section>
{% endblock %}