{% extends '_layout' %}
{% block content %}
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<section class="sponsors">
				<h2>Sponsors</h2>
				<div class="flex">
					{% for sponsor in craft.entries.section('sponsors').all() %}
						<div class="vertical">
							<a href="{{ sponsor.hyperlink }}" target="_blank" rel="noopener">
								<img src="{{ siteUrl }}{{ sponsor.logo.one().getUrl() }}" alt="{{ sponsor.title }}">
							</a>
						</div>
					{% endfor %}
				</ul>
				<br class="clearfix">
			</section>

		</div>
	</div>
</section>
{% endblock %}